[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/jummidark.vim"]
	path = .vim/pack/plugins/start/jummidark.vim
	url = https://github.com/jcherven/jummidark.vim.git
[submodule ".vim/pack/plugins/start/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/plugin/start/nerdcommenter"]
	path = .vim/pack/plugin/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule ".vim/pack/plugin/start/nerdtree"]
	path = .vim/pack/plugin/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugin/start/lightline.vim"]
	path = .vim/pack/plugin/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/plugin/start/fzf.vim"]
	path = .vim/pack/plugin/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugin/start/ack.vim"]
	path = .vim/pack/plugin/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/plugin/start/jummidark.vim"]
	path = .vim/pack/plugin/start/jummidark.vim
	url = https://github.com/jcherven/jummidark.vim.git
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/pack/plugin/start/kotlin-vim"]
	path = .vim/pack/plugin/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/plugin/start/android-log.vim"]
	path = .vim/pack/plugin/start/android-log.vim
	url = https://github.com/yanqd0/android-log.vim.git
[submodule ".vim/pack/plugin/start/vim-bookmarks"]
	path = .vim/pack/plugin/start/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule ".vim/pack/plugin/start/vim-log-highlighting"]
	path = .vim/pack/plugin/start/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting.git
[submodule ".vim/pack/plugin/start/vim-janah"]
	path = .vim/pack/plugin/start/vim-janah
	url = https://github.com/mhinz/vim-janah.git
[submodule ".vim/pack/plugin/start/vim-startify"]
	path = .vim/pack/plugin/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule ".vim/pack/plugin/start/vim-xkbswitch"]
	path = .vim/pack/plugin/start/vim-xkbswitch
	url = https://github.com/lyokha/vim-xkbswitch.git
[submodule ".vim/pack/plugin/start/ctrlp.vim"]
	path = .vim/pack/plugin/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugin/start/textutil.vim"]
	path = .vim/pack/plugin/start/textutil.vim
	url = https://github.com/vim-scripts/textutil.vim.git
[submodule ".vim/pack/plugin/start/dart-vim-plugin"]
	path = .vim/pack/plugin/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
