"#################################
"# lines to cursor highlight     #  
"#################################
set cursorline
set cursorcolumn

"#################################
"# case insesetive search        #  
"#################################
set ignorecase

"#################################
"# leader key                    #  
"#################################
nnoremap <SPACE> <Nop>
let mapleader="\<SPACE>"

"#################################
"# tab navigation                #
"#################################
nnoremap <Leader>[ gT
nnoremap <Leader>] gt

"#################################
"# close buffer                  #  
"#################################
nnoremap <Leader>q :q<CR>

"#################################
"# split navigation with alt key #  
"#################################
nnoremap ˙ <C-w>h
nnoremap ∆ <C-w>j
nnoremap ˚ <C-w>k
nnoremap ¬ <C-w>l

"#################################
"# errors navigation             #  
"#################################
nnoremap e] :action GotoNextError<CR>
nnoremap e[ :action GotoPreviousError<CR>

"#################################
"# changes navigation            #  
"#################################
nnoremap c] :action VcsShowNextChangeMarker<CR>
nnoremap c[ :action VcsShowPrevChangeMarker<CR>

"#################################
"# apply vimrc source            #  
"#################################
nnoremap <Leader>sv :source ~/.ideavimrc<CR>

"#################################
"# go to test                    #  
"#################################
nnoremap gtt :action GotoTest<CR>

"#################################
"# move tab to opposite split    #  
"#################################
nnoremap <Leader>sg :action MoveEditorToOppositeTabGroup<CR>


"#################################
"# split stretching              #  
"#################################
nnoremap <Leader>h :action StretchSplitToLeft<CR>
nnoremap <Leader>l:action StretchSplitToRight<CR>
nnoremap <Leader>j :action StretchSplitToBottom<CR>
nnoremap <Leader>k :action StretchSplitToTop<CR>

"#################################
"# change color scheme           #  
"#################################
nnoremap ccs :action ChangeColorScheme<CR>

"#################################
"# reformat code                 #  
"#################################
nnoremap rfc :action ReformatCode<CR>

"#################################
"# repl actions                  #  
"#################################
"# jump to repl editor
nnoremap <Leader>re :action :cursive.repl.actions/jump-to-repl<CR>
"# sync files to repl
nnoremap <Leader>rs :action :cursive.repl.actions/sync-files<CR>

"#################################
"# window activation             #  
"#################################
nnoremap atw :action ActivateTerminalToolWindow<CR>
nnoremap avw :action ActivateVersionControlToolWindow<CR>
nnoremap haw :action HideAllWindows<CR>

"#################################
"# past yank register content    #  
"#################################
::nnoremap <Leader>p "0p


"#################################
"# copy to clipboard             #
"#################################
set clipboard=unnamed

"#################################
"# line number settings          #
"#################################
set relativenumber
set number


"#################################
"# NerdTree                      #  
"#################################
set NERDTree
nnoremap <leader>t :NERDTreeToggle<CR>
"# show that file on file tree
nnoremap ftf :NERDTreeFind<CR>
